<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NotTwitter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/profile.css">
  <link rel="stylesheet" href="css/tweet.css">
  <link rel="stylesheet" href="css/styles.css">

  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/moment.min.js"></script>
  <script src="js/combodate.js" charset="utf-8"></script>
  <script src="https://kit.fontawesome.com/e1c54dfcf7.js" crossorigin="anonymous"></script>

</head>

<body>

<%- include('flash.ejs') %>
