<%- include("header.ejs") %>
<div class="d-flex flex-row justify-content-center">
  <%- include("nav.ejs") %>
  <div class="w-50 p-0 main">
    <div class="d-flex flex-row twitter-tweet">
      <h3>Home</h3>
    </div>
    <form class="" action="index.html" method="post">
      <div class="d-flex flex-row twitter-tweet">
        <div class="p-2">
          <img src="https://via.placeholder.com/49" class="rounded-circle profile-pic" alt="">
        </div>
        <div class="p-2 flex-fill">
          <div class="tweetBox">
            <input type="text" placeholder="What's Happening" name="" value="">
          </div>
          <div class="">
            <button type="button" name="button" class="btn btn btn-primary"><i class="far fa-file-image"></i></button>
            <button type="button" name="button" class="btn btn-primary"><i class="fas fa-gift"></i></button>
            <button type="button" name="button" class="btn btn btn-primary"><i class="fas fa-poll-h"></i></button>
            <button type="button" name="button" class="btn btn btn-primary"><i class="far fa-smile"></i></button>
            <button class="btn btn-primary float-right" type="submit" name="button">Tweet</button>
          </div>
        </div>
      </div>
    </form>

    <div class="">

    </div>
  </div>
  <%- include("sidebar.ejs") %>
</div>
<%- include("footer.ejs") %>
