<%- include("header.ejs") %>

<div class="flex-container">
  <div class="split-item index-left-side"></div>
  <div class="split-item index-right-side">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column w-75">
        <div class="p-2 align-self-center">
          <form class="" action="/login" method="post">
            <div class="d-flex flex-row ">
              <div class="input-box">
                <label for="">Username
                  <input type="text" name="username" value="">
                </label>
              </div>
              <div class="input-box">
                <label for="">Password
                  <input type="password" name="password" value="">
                </label>
              </div>
              <div class="p-1 align-self-center">
                <button class="btn login-btn " type="submit" name="button">Log in</button>
              </div>
            </div>
          </form>
        </div>
        <div class="p-2 login-center align-self-center">
          <div class="d-flex flex-column">
            <div class="p-2 login-logo"><i class="fab fa-twitter fa-2x"></i></div>
            <div class="login-header">
              <p>See what’s happening in the world right now</p>
            </div>
            <div class="login-join">
              <p>Join not twitter today.</p>
            </div>
            <button class="login-btn-signup" data-toggle="modal" data-target="#myModal1" type="button" name="button">Sign up</button>
            <button class="login-btn-login" type="button" name="button" onclick="window.location.href = '/login';">Log in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("signup-modal.ejs") %>
<%- include("footer.ejs") %>
