<div class="w-10 p-0">

  <div class="d-flex flex-column">
    <div class="p-0 logo icon-list ">
      <i class="fab fa-twitter fa-2x"></i>
    </div>
    <div class="p-0">
      <ul class="nav flex-column">
        <li class="nav-item ">
          <a class="nav-link d-flex align-items-baseline" href="#">
            <div class="p-2 icon-list">
              <i class="fas fa-home fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Home
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="#">
            <div class="p-2 icon-list">
              <i class="fas fa-hashtag fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Explore
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="#">
            <div class="p-2 icon-list">
              <i class="fas fa-bell fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Notifications
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="#">
            <div class="p-2 icon-list">
              <i class="fas fa-envelope fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Messages
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="#">
            <div class="p-2 icon-list">
              <i class="fas fa-bookmark fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Bookmarks
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="#">
            <div class="p-2 icon-list">
              <i class="fas fa-list-alt fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Lists
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="#">
            <div class="p-2 icon-list">
              <i class="fas fa-circle fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Profile
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="#">
            <div class="p-2 icon-list">
              <span class="fa-stack icon-list" style="vertical-align: top;">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-ellipsis-h fa-stack-1x"></i>
              </span>
            </div>
            <div class="p-2 align-self-center">
              More
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="tweet-btn  flex-fill">
      <a href="#">Tweet</a>
    </div>
  </div>
</div>
