<div class="w-10 p-0">

  <div class="d-flex flex-column">
    <div class="p-0 logo icon-list ">
      <i class="fab fa-twitter fa-2x"></i>
    </div>
    <div class="p-0">
      <ul class="nav flex-column" id="nav-container">
        <li class="nav-item nav-btn-active">
          <a class="nav-link d-flex align-items-baseline" href="/">
            <div class="p-2 icon-list">
              <i class="fas fa-home fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Home
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline " href="/explore">
            <div class="p-2 icon-list">
              <i class="fas fa-hashtag fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Explore
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="/notifications">
            <div class="p-2 icon-list">
              <i class="fas fa-bell fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Notifications
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="/messages">
            <div class="p-2 icon-list">
              <i class="fas fa-envelope fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Messages
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="/bookmark">
            <div class="p-2 icon-list">
              <i class="fas fa-bookmark fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Bookmarks
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="/list">
            <div class="p-2 icon-list">
              <i class="fas fa-list-alt fa-2x"></i>
            </div>
            <div class="p-2 align-self-center">
              Lists
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="/<%= foundUser.username %>">
            <div class="p-2 icon-list">
                <img  class="rounded-circle" src="data:<%= foundUser.profile.avatar.contentType %>;base64,<%= foundUser.profile.avatar.data %>" height="32" width="32">
            </div>
            <div class="p-2 align-self-center">
              Profile
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-baseline" href="/logout">
            <div class="p-2 icon-list">
              <span class="fa-stack icon-list" style="vertical-align: top;">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-ellipsis-h fa-stack-1x"></i>
              </span>
            </div>
            <div class="p-2 align-self-center">
              Logout
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="tweet-btn  flex-fill">
      <a href="#">Tweet</a>
    </div>
  </div>
</div>
<script type="text/javascript">
  // Get the container element
  var btnContainer = document.getElementById("nav-container");
  // Get all buttons with class="btn" inside the container
  var btns = btnContainer.getElementsByClassName("nav-item");
  // Loop through the buttons and add the active class to the current/clicked button
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("nav-btn-active");
      current[0].className = current[0].className.replace(" nav-btn-active", "");
      this.className += " nav-btn-active";
    });
  }
</script>
