<form id="signup-1" action="/signup" method="post">
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title 1</h4>
        </div>
        <div class="modal-body">

          <fieldset style="display: block;">
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Username
                  <input type="text" name="username" value="" required>
                </label>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Email
                  <input type="email" name="email" value="" required>
                </label>
              </div>
            </div>

            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Password
                  <input type="password" name="password" value="" required>
                </label>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Confirm Password
                  <input type="password" name="cpassword" value="" required>
                </label>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Phone Number
                  <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                </label>
              </div>
            </div>
          </fieldset>
          <!-- </form> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-next">Next</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title 3</h4>
        </div>
        <div class="modal-body">
          <!-- <form id="signup-2" action="/signup" method="post"> -->
          <fieldset>
            <div class="form-top">
              <div class="form-top-left">
                <h3>Step 2 / 2</h3>
                <p></p>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Name
                  <input type="text" name="name" value="" required>
                </label>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Location
                  <input type="text" name="location" value="">
                </label>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Website
                  <input type="text" name="website" value="">
                </label>
              </div>
            </div>
            <div class="md-form mb-5">
              <div class="signup-modal input-box">
                <label for="">Gender
                  <select name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="dob">
              <span>Date of birth</span>
              <p>This will not be shown publicly. Confirm your age to receive the appropriate experience.</p>
              <div class="md-form mb-5">
                <div class="d-flex flex-row ">
                  <div class="input-box">
                    <label for="">Month
                      <input class="moment-date" type="text" id="month" data-format="MMMM" data-template="MMMM" name="month" value="">
                    </label>
                  </div>
                  <div class="input-box">
                    <label for="">Day
                      <input type="text" id="day" data-format="DD" data-template="D" name="day" value="">
                    </label>
                  </div>
                  <div class="input-box">
                    <label for="">Year
                      <input type="text" id="year" data-format="YYYY" data-template="YYYY " name="year" value="">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-prev">Prev</button>
          <button type="button" class="btn btn-default btn-next">Next</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title 4</h4>
        </div>
        <div class="modal-body">
          Summary of the register page
        </div>
        <div class="modal-footer">
          <button class="login-btn-signup flex-fill" type="button" name="button" onclick="submitForms()">Sign up</button>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  submitForms = function() {
    document.getElementById("signup-1").submit();
  }
  $(function() {
    $('#year').combodate();
    $('#day').combodate();
    $('#month').combodate();
  });
  $("div[id^='myModal']").each(function() {

    var currentModal = $(this);

    //click next
    currentModal.find('.btn-next').click(function() {
      currentModal.modal('hide');
      currentModal.closest("div[id^='myModal']").nextAll("div[id^='myModal']").first().modal('show');
    });

    //click prev
    currentModal.find('.btn-prev').click(function() {
      currentModal.modal('hide');
      currentModal.closest("div[id^='myModal']").prevAll("div[id^='myModal']").first().modal('show');
    });

  });
</script>
