
.nav {
  margin-right: 50px;
}

.nav-link {
  padding: 0;
}

.nav-item a {
  color: #657786;
  font-weight: 500;
}

.nav-item:hover {
  border-radius: 30px;
  background-color: #E8F5FE;
}

.nav-item:hover a {
  color: #1DA1F2;
}

.nav-btn-active a{
  color: #1DA1F2;
}
.tweet-btn {
  background-color: #1DA1F2;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin: 15px;
  padding: 15px;
}

.tweet-btn a {
  color: #fff;
  text-decoration: none;
}

.tweet-btn:hover {
  background-color: #1A91DA;
}
.icon-list {
  width: 50px;
  height: 50px;
  text-align: center;
}

.logo {
  color: #1DA1F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  border-radius: 30px;
  background-color: #E8F5FE;
}
