
.profile-bg {
  background-image: url("https://pbs.twimg.com/profile_banners/777297854473711618/1474163877/600x200");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 2px 2px 0 0;
  height: 200px;
  width: 100%;
}

.profile-block {
  display: block !important;
  z-index: 0;

}

.profile-button {
  margin: -35px -10px 0;
  text-align: right;
  width: 100%;
}

.profile-container {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #eee #ddd #bbb;
  font-size: 15px;
  font-weight:lighter;
  line-height: 1.3125;
}

.profile-avatarImg {
  z-index: 1;
  margin-top: -80px;
  margin-left: 30px;
  color: #fff;
  height: 134px;
  width: 134px;
}
.profile-edit-btn {
  color: #1DA1F2;
  background-color: #fff;
  border-color: #1DA1F2;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  padding: 15px;
  margin: 15px 15px 0 0;
}
.profile-edit-btn:hover {
  background-color: #E8F5FE;
}
.profile-edit-upload img {
  width: 100%;
}
.profile-divUser {
  margin: 5px 0 0;
  padding: 10px;
}

.profile-divName {
  font-size: 20px;
  font-weight: 900;
  line-height: 21px;
}

.profile-divName a {
  color: inherit !important;
}
.profile-divTag{
  color: #657786;
  text-decoration: none;
}
.profile-info {
  padding: 5px 0 5px 0;
}
.profile-stat {
  margin-right: 20px;
}
.profile-edit-header {
  padding: 10px 5px 10px 5px;
}
.profile-edit-header .close{
  padding: 0;
  margin: 0;
}
.tweet-nav {

}
.tweet-nav-item {
  font-weight: bold;
  color: #657786;
  background-color: #fff;
  border-style: none;
  border-radius: 0;
}
.tweet-nav-item:hover {
  background-color: #E8F5FE;
  color: #1DA1F2;
}

.tweet-nav-item-active {
  background-color: #E8F5FE;
  color: #1DA1F2;
  border-bottom: 2px solid #1DA1F2;
  box-shadow:none;
}
.tweet-nav-item-active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
